.mealPlan {
  padding-top: 18px;
}

.mealName {
  text-transform: uppercase;
}
.mealCredits {
  font-size: 0.7em;
  font-style: italic;
  padding-bottom: 12px;
}

.courseList {
}

.course {
  font-size: 1em;
  text-transform: capitalize;
}

.columnDate {
  font-size: 0.7em;
}

table tr {
  border-style: hidden;
}

table th {
  text-transform: uppercase;
  font-weight: 500;
}

table td {
  vertical-align: top;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  list-style-position: inside;
}

.calloutBox {
  background-color: darkseagreen;
  background-clip: content-box;
  padding: 15px;
}
